.wrapper {
    --search-border-radius  : 92px;
    --search-button-width   : 52px;
    box-shadow              : 0px 1px 1px rgb(0 0 0 /12%);
    display                 : flex;
    justify-content         : center;
    width                   : 100%;
}

.content {
    height           : 100%;
    width            : var(--default-layout-width);
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
}

.logo {}

.search,
.search-result {
    width  : 361px;
}

.search {
    position          : relative;
    width             : 361px;
    height            : 46px;
    padding-left      : 16px;
    display           : flex;
    background-color  : rgba(22, 24, 35, 0.06);
    border-radius     : var(--search-border-radius);

    input {
        flex              : 1;
        height            : 100%;
        color             : #000;
        font-size         : 1.6rem;
        background-color  : transparent;
        caret-color       : var(--primary);
    }

    input:not(:placeholder-shown)~.search-btn {
        color  : rgba(22, 24, 35, 0.75);
    }

    &::after {
        content           : "";
        position          : absolute;
        top               : 9px;
        right             : var(--search-button-width);
        width             : 1px;
        height            : 28px;
        background-color  : rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border  : 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding      : 5px 12px;
    font-weight  : 600;
    font-size    : 1.4rem;
    color        : rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position   : absolute;
    right      : calc(var(--search-button-width) + 16px);
    top        : 50%;
    transform  : translateY(-50%);
    color      : rgba(22, 24, 35, 0.2);
}

.search-btn {
    width                       : 52px;
    height                      : 100%;
    border-top-right-radius     : var(--search-border-radius);
    border-bottom-right-radius  : var(--search-border-radius);
    font-size                   : 1.8rem;
    color                       : rgba(22, 24, 35, 0.34);

    &:hover {
        cursor            : pointer;
        background-color  : rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color  : rgba(22, 24, 35, 0.06);
    }
}