.wrapper {
    --search-border-radius  : 92px;
    --search-button-width   : 52px;
    box-shadow              : 0px 1px 1px rgb(0 0 0 /12%);
    display                 : flex;
    justify-content         : center;
    width                   : 100%;
    position                : fixed;
    top                     : 0;
    left                    : 0;
    background-color        : white;
    z-index                 : 10;
    height                  : var(--default-layout-header-height);
}

.content {
    height           : 60px;
    width            : var(--default-layout-width);
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    padding          : 0 var(--default-layout-horizontal-spacer);
}

.logo {}



.custom-login {
    color  : red;
}

//Actions
.action {
    display      : flex;
    align-items  : center;
}

.more-btn {
    font-size         : 2rem;
    margin-left       : 28px;
    padding           : 4px 8px;
    background-color  : transparent;
    cursor            : pointer;
}

.action-btn {
    background-color  : transparent;
    font-size         : 2.2rem;
    color             : #161823;
    padding           : 4px 12px;
    cursor            : pointer;

}

.user-avatar {
    width          : 32px;
    height         : 32px;
    object-fit     : cover;
    border-radius  : 50%;
    margin-left    : 12px;
    cursor         : pointer;
}